body {
  background: url(../images/xqx4.jpg) no-repeat;
  width:100%;
  height: 100%;
  background-size: 100%;

}
#canvas {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 320px;
  width: 600px;
  height: 80px;

}