@charset "utf-8";

.head {
  width: 100%;
  height: 60px;
  .skin_btn {
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    text-decoration: none;
    margin: 15px;
    background: rgba(143, 148, 150, 0.34);
    color: #fff;
    padding: 5px;
    .iconfont {
      font-size: 24px;
      vertical-align: middle;
    }
  }
  .skin_content {
    position: absolute;
    top: 60px;
    right: 14px;
    z-index: 1;
    width: 360px;
    height: 260px;
    display: none;
    background: rgba(143, 148, 150, 0.1);
    .skin_img {
      position: relative;
      width: 100%;
      height: 210px;
      padding-top: 10px;
      margin-top: 14px;
      .pic_comm.active {
        display: block;
      }
      .pic_comm {
        position: absolute;
        top: 0;
        left: 0;
        width: 96%;
        height: 98%;
        margin: 0 auto;
        display: none;
      }
      .pic_comm_item{
        float: left;
        width: 150px;
        height: 100px;
        margin-left: 20px;
        margin-top: 6px;
        background: #fff;
      }
      .pic_comm_item {
        img {
          display: inline-block;
          width: 140px;
          height: 90px;
          padding:5px;
          cursor: pointer;
        }
      }
    }
    .skin_title {
      width: 100%;
      height: 10px;
      margin-top: 10px;
      text-align: center;
      color: #fff;
      font-family: "微软雅黑";
      span {
        display: inline-block;
        padding-left: 50px;
        cursor: pointer;
        font-size: 14px;
        &.active {
          color: #000;
        }
      }
    }
  }
}

#skin{
  position: absolute;
  top: 30px;
  left: 1100px;
}

